@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-secondary: #FFFFFF;
  --color-accent: #00A78E;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
